body{ 
    background: #013328;
    color: rgb(0, 0, 0);
    font-family: 'fredoka', sans-serif;
    margin: 0;
    height: 100vh;
}

header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.logo{
    position: relative;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

.banner{
    position: relative;
    width: 100%;
    height: 2vh;
    background-size: cover;
}


header ul li  a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

h2{
    align-items: center;
    text-align: center;
    color:#E3DCD2;
    font-size: 4em;
    animation: fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timeline: view();

}

footer.about-the-developer{
    height: 30vh;
    background: transparent;
    color:#E3DCD2;
    padding: 1.7%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size: larger;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
    animation: fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timeline: view();
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.index-intro-sentences{
    padding: 0;
    box-sizing: border-box;
    font-family: 'fredoka', sans-serif;
    font-size: 1em;
    color: #E3DCD2;
    display: flex;
    margin-top:-15%;
    margin-left: 39.3%;
    font-weight: bold;
}


section.index-intro-typewriter{
    position: relative;
}

section.index-intro-typewriter::after{
    content: '|';
    position: absolute;
    right: 0;
    color: #E3DCD2;
    background-color: #013328;
    width: 100%;
    animation: typing 2.5s,
                line 1s infinite;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;

}



button.explore-page-button{
    background: transparent;
    color:white;
    padding: 23px;
    display: block;
    flex-direction: row;
    border-radius: 20px;
    font-size:large;
    font-weight:bold;
    cursor: pointer;
    border-color: white;
    margin-left: 46.5%;
    animation: fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timeline: view();
    border-style: solid;
}

button.explore-page-button:hover{
    background: #CC8B65;
}

ul.pages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: transparent;
    font-weight:4em;
    color:black;
    font-weight: bold;
    left: 70%;
}

li {
    display: inline-block;
    padding: 30px;
    margin-left: 10px;
    opacity: 70%;
}

li:first-child{
    margin-left: 10px;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:hover{
    text-decoration: underline;
    color: #CC8B65;
}

.logo {
    position: relative;
    top: -20px;
    left: -35%;
}

h6.disclaimer{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:small;
    font-weight:bold;
    max-width: 53%;
    position: relative;
    left: 22.5%;
}

footer.learning-intro-sentences{
    background-color: transparent;
    color:#E3DCD2;
    padding: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:35px;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
    height: 3px;
}

button.learning-button{
    background: transparent;
    color:white;
    padding: 2%;
    display: block;
    flex-direction: row;
    border-radius: 20px;
    font-size:x-large;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
    border-color: white;
    border-style: solid;
}

button.learning-button:hover{
    background: #CC8B65;

}

ul.basics-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background:transparent;
    color: #E3DCD2;
    font-size: large;
    font-weight: bold;
    width: 80%;
    position: relative;
    left: 10%
}

button.back-to-learning{
    background: transparent;
    color:white;
    padding: 10px;
    display: block;
    flex-direction: row;
    border-radius: 10px;
    font-size: medium;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
    position: relative;
    left: 33%;
    bottom: 40px;
    width: 12%;
    border-color: white;
    border-style: solid;
}

button.back-to-learning:hover{
    background-color: #CC8B65;
}

h3.pattern-header{
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    color: #E3DCD2;
}

.TA-patterns{
    display: flex;
    flex-direction: row;
}

.TA-patterns img{
    width:100%;
    border-radius:10px;
}

.TA-patterns figure{
    margin: auto;
    text-align: center;
    text-emphasis: 700;
    font-size: large;
    background :#E3DCD2;
    border-radius: 10px;
    width: 500px;
}

.basics-title{
    color: #E3DCD2;
    position: relative;
    font-size: 3em;
    padding-left: 190px;
    font-weight: bold;
}

footer.supplyanddemand-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    font-size: large;
    padding: 2%;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

.supplyanddemand-example img{
    width: 56%;
    position: relative;
    left: 20.7%;
    border-radius: 10px;
}

h1.supply{
    background:#E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

h1.demand{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

p.supply-description{
    font-size:large;
    width: 100%;
    text-align: center;
    line-height: 3.5;
}

footer.bonds-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    font-size: large;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

ul.bondsdescription{
    padding: 0;
    background:#E3DCD2;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    position: relative;
    right: 1%;
}

h1.bondstextheader{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    background: #01221b;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #E3DCD2;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .bolded{font-weight: bold}



.typewriter-background{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: "fredoka", sans-serif;
    font-size: 4em;
    color: #E3DCD2;
}

.typewriter{
    position: relative;
}

.typewriter::after{
        content: '|';
        position: absolute;
        right: 0;
        color: #E3DCD2;
        background-color: #013328;
        width: 100%;
        animation: typing 2.5s,
                    line 1s infinite;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;

}

@keyframes typing{
    to{
        width: 0%;
    }
}

@keyframes line{
    50%{
        color: transparent;
    }
}

.typewriter-explore-background{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.typewriter-explore{
    position: relative;
}

.typewriter-explore::after{
        content: '|';
        position: absolute;
        right: 0;
        color: #E3DCD2;
        background-color: #013328;
        width: 100%;
        animation: typing 2.5s,
                    line 1s infinite;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
}

.explore-intro-sentences{
    background: transparent;
    color:#E3DCD2;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:large;
    font-weight:bold;
    margin: -15% 16.8%;
    height: 80vh;
}


.scrolldown{
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%)
        rotate(45deg);
}


.scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate (-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown2{
    position: absolute;
    bottom: -850px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-90px) translateX(-50%)
        rotate(45deg);
}

.scrolldown2 span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown2 span:nth-child(1){
    transform: translate (-15px, -15px);
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}