body{ 
    background: #013328;
    color: rgb(0, 0, 0);
    font-family: Helvetica Neue, helvetica, Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

header.navigate-header{ 
    background: #013328;
    margin: 1%;
    color:white;
}

header.stock-outlook-header{
    position: relative;
    bottom: 541px;
    max-width: 16%;
    background: #E3DCD2;
    padding: 2%;
    border-radius: 10px;
    font-size:medium;
    font-weight:bold;
    text-align: center;
    margin: 0.7%;
}

footer.about-the-developer{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:small;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

section.intro-sentences-on-index-page{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding:  30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:large;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

button.go-to-learning-page-button{
    background: #CC8B65;
    color:rgb(0, 0, 0);
    padding: 20px;
    display: block;
    flex-direction: row;
    border-radius: 10px;
    font-size:large;
    font-weight:bold;
    margin: 0 auto;
    cursor: pointer;
}

button.go-to-learning-page-button:hover{
    color: #E3DCD2;
}

ul.pages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #E3DCD2;
    border-radius: 10px;
    font-weight:700;
    color:black;
    font-weight: bold;
}

li {
    display: inline-block;
    padding: 30px;
    margin-left: 10px;
    opacity: 70%;
}

li:first-child{
    margin-left: 10px;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}

a:hover{
    text-decoration: underline;
    color: #CC8B65;
}

.logo {
    position: relative;
    top: 10px;
    left: -1%;
}

h6.disclaimer{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:small;
    font-weight:bold;
    max-width: 75%;
    position: relative;
    left: 13%;
}

footer.learning-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:large;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

button.learning-button{
    background: #CC8B65;
    color:rgb(0, 0, 0);
    padding: 2%;
    display: block;
    flex-direction: row;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
}

button.learning-button:hover{
    color:#E3DCD2;
}

ul.basics-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background:#E3DCD2;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}

button.back-to-learning{
    background: #CC8B65;
    color:rgb(0, 0, 0);
    padding: 10px;
    display: block;
    flex-direction: row;
    border-radius: 10px;
    font-size: medium;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
    position: relative;
    left: 42%;
    bottom: 40px;
    width: 12%;
}

button.back-to-learning:hover{
    color: #E3DCD2;
}

h3.pattern-header{
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    color: #E3DCD2;
}

.TA-patterns{
    display: flex;
    flex-direction: row;
}

.TA-patterns img{
    width:100%;
    border-radius:10px;
}

.TA-patterns figure{
    margin: auto;
    text-align: center;
    text-emphasis: 700;
    font-size: large;
    background :#E3DCD2;
    border-radius: 10px;
    width: 500px;
}

h1.basics-header{
    color: #E3DCD2;
    padding: 1%;
}

footer.supplyanddemand-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    font-size:medium;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

h1.supply{
    background:#E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

h1.demand{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

p.supply-description{
    font-size:medium;
    width: 100%;
    text-align: center;
}

.supplyanddemand-example img{
    width:60%;
    position: relative;
    left: 18.7%;
}

footer.bonds-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    font-size: large;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

ul.bondsdescription{
    padding: 0;
    background:#E3DCD2;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    position: relative;
    right: 1%;
}

h1.bondstextheader{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(105, 98, 91);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }