body{ 
    background: #013328;
    color: rgb(0, 0, 0);
    font-family: 'fredoka', sans-serif;
    margin: 0;
    height: 100vh;
}

header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.logo{
    position: relative;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

.banner{
    position: relative;
    width: 100%;
    height: 2vh;
    background-size: cover;
}

header ul li  a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

footer.about-the-developer{
    height: 30vh;
    background: transparent;
    color:#E3DCD2;
    padding: 1.7%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:medium;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

section.index-intro-sentences{
    background: transparent;
    color:#E3DCD2;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:large;
    font-weight:bold;
    margin: -15% 39.3%;
    height: 80vh;
}

button.go-to-learning-page-button{
    background: transparent;
    color:white;
    padding: 1.2%;
    display: block;
    flex-direction: row;
    border-radius: 20px;
    font-size:large;
    font-weight:bold;
    margin: 0 auto;
    cursor: pointer;
    border-color: white;
}

button.go-to-learning-page-button:hover{
    background: #CC8B65;
}

ul.pages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: transparent;
    font-weight:4em;
    color:black;
    font-weight: bold;
    left: 70%;
}

li {
    display: inline-block;
    padding: 30px;
    margin-left: 10px;
    opacity: 70%;
}

li:first-child{
    margin-left: 10px;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}

a:hover{
    text-decoration: underline;
    color: #CC8B65;
}

.logo {
    position: relative;
    top: -20px;
    left: -35%;
}

h6.disclaimer{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-size:small;
    font-weight:bold;
    max-width: 53%;
    position: relative;
    left: 20%;
}

footer.learning-intro-sentences{
    background-color: transparent;
    color:#E3DCD2;
    padding: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:35px;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
    height: 3px;
}

button.learning-button{
    background: transparent;
    color:white;
    padding: 2%;
    display: block;
    flex-direction: row;
    border-radius: 20px;
    font-size:x-large;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
    border-color: white;
}

button.learning-button:hover{
    background: #CC8B65;

}

ul.basics-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background:#E3DCD2;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    width: 80%;
    position: relative;
    left: 10%
}

button.back-to-learning{
    background: #CC8B65;
    color:rgb(0, 0, 0);
    padding: 10px;
    display: block;
    flex-direction: row;
    border-radius: 10px;
    font-size: medium;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
    position: relative;
    left: 42%;
    bottom: 40px;
    width: 12%;
}

button.back-to-learning:hover{
    color: #E3DCD2;
}

h3.pattern-header{
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    color: #E3DCD2;
}

.TA-patterns{
    display: flex;
    flex-direction: row;
}

.TA-patterns img{
    width:100%;
    border-radius:10px;
}

.TA-patterns figure{
    margin: auto;
    text-align: center;
    text-emphasis: 700;
    font-size: large;
    background :#E3DCD2;
    border-radius: 10px;
    width: 500px;
}

h1.basics-header{
    color: #E3DCD2;
    padding: 1%;
}

footer.supplyanddemand-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    font-size: large;
    padding: 2%;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

.supplyanddemand-example img{
    width: 56%;
    position: relative;
    left: 20.7%;
    border-radius: 10px;
}

h1.supply{
    background:#E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

h1.demand{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

p.supply-description{
    font-size:large;
    width: 100%;
    text-align: center;
    line-height: 3.5;
}

footer.bonds-intro-sentences{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    font-size: large;
    font-weight:bold;
    width: 50%;
    margin: 0px 22%;
}

ul.bondsdescription{
    padding: 0;
    background:#E3DCD2;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    position: relative;
    right: 1%;
}

h1.bondstextheader{
    background: #E3DCD2;
    color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
    font-weight:bold;
    width: 20%;
    position: relative;
    left: 22%;
    width: 52.5%;
}

::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    background: #01221b;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #E3DCD2;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .bolded{font-weight: bold}



.typewriter-background{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: "fredoka", sans-serif;
    font-size: 4em;
    color: #E3DCD2;
}

.typewriter{
    position: relative;
}

.typewriter::after{
        content: '|';
        position: absolute;
        right: 0;
        color: #E3DCD2;
        background-color: #013328;
        width: 100%;
        animation: typing 2.5s,
                    line 1s infinite;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;

}

@keyframes typing{
    to{
        width: 0%;
    }
}

@keyframes line{
    50%{
        color: transparent;
    }
}
